<%= render'users/user', user: @user %>
<%= render'books/book', book: @book %>

<h2>Books</h2>

<section>
  <th>Title</th>
  <th>Opinion</th>
  <% @books.each do |book|%>
  <td class='image'>
      <%= link_to (attachment_image_tag book.user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg"), user_path(book.user)  %>
    </td>
    <td class='title'><%= link_to book.title, book_path(book) %></td>
    <td class='body'><%= book.body %></td>
  <% end %>
  <!--< % end %>-->
</div>
</section>


